@font-face {
  font-family: "Quicksand";
  src: url("/resources/fonts/quicksand/Quicksand-Regular.ttf");
  font-weight: 400;
}

::selection {
  background-color: #c68aff69;
}

html, body {
    margin: 0vw;
    padding: 0vw;
    font-family: Quicksand, sans-serif;
    font-size: 1.2vw;
    width: 100vw;
    height: 4vw;
    overflow: hidden;
}

a {
    color: inherit;
}

nav {
    display: block;
    margin: 1vw 0vw 0vw;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0vw;
    padding: 0vw;
    background-color: #ffffff00;
}

nav li {
    text-align: center;
}

.navigation-image-element {
    margin-right: 2vw;
}

.navigation-image {
    width: 3vw;
    height auto;
}

.navigation-button-element {
    width: 10vw;
    margin-right: 2vw;
}

.navigation-button {
    display: block;
    text-decoration: none;
    color: white;
    background-color: #00000020;
    border: solid #ffffff00 0.1vw;
    border-radius: 0.4vw;
    transition: border 0.5s cubic-bezier(0.37, 0, 0.63, 1) 0s;
}

.navigation-button:hover {
    border: solid #ffffff80 0.1vw;
}
