@font-face {
  font-family: "Quicksand";
  src: url("/resources/fonts/quicksand/Quicksand-Regular.ttf");
  font-weight: 400;
}

html, body {
    margin: 0vw;
    padding: 0vw;
    font-family: Quicksand, sans-serif;
    font-size: 1vw;
    text-align: center;
}

html {
	height: 100%;
	background-image: url("/resources/img/background.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

body {
    height: 100%;
    color: #333333ff;
    background: #00000010;
    background-color: #00000040;
}

h1, p {
    color: #f2d8ffef;
}

.navigation-container {
    display: block;
    border: none;
    width: 100vw;
    height: 4vw;
    margin: 0vw;
}
